*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.6rem;
    background-color: #E8effA;
}
.layaout{
    width: 100%;
    min-height: 100%;
    position: absolute;
    display: flex;
    flex-flow: column ;
    justify-content: center;
    align-items: center;
}
.layaout__main{
    max-width: 40rem;
}
.inventario{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}
.inventario__caja{
    background-color: aqua;
    width: 8rem;
    height: 8rem;
    border: 0.2rem solid black;
    border-radius: 0.5rem ;
    cursor: pointer;
}
.almacen{
    margin-top: 2rem;
    background-color: #E8effA;
    width: 100%;
    height: 50rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    padding: 0.8rem 1.6rem;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.almacen__estanteria{
    background-color: #E8effA;
    border: 1px solid black;
    width: 8rem;
    height: 8rem;
}