*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}
main{
    width: 100%;
    display: flex;
    flex-flow: column ;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
input{
    display: block;
    font-weight: 500;
    width: 35%;
    padding: 0.8rem 1.6rem;
    transition: all 0.3s ease-in;
    border: 0.1rem solid #6da8ff;
    border-radius: 1rem;
    outline: none;
}
input:focus{
    border: 0.1rem solid #0b58ba;
}
.main_icons{
    flex-basis: 10%;
}
.check {
    width: 4rem;  /* Cambia el ancho */
    height: 4rem;
    stroke: green;
}
.wrong{
    width: 4rem;
    height: 4rem;
    stroke: red;
}