*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    width: 50%;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_container{
    width: 35%;
    margin: 2rem auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}
input{
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    border: none;
    margin-right: 1rem;
    transition: all 0.5s ease-in-out;
}
input:focus{
    outline: none;
    border-color: #007BFF;
}
.form_eye{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
